.bodyPart {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.appHeader {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 30;
  margin: 0;
  padding: 1rem;
  background-color: #282c34;
  z-index: 10;
}

.appFooter {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

@media screen and (max-width: 600px) {
  .appHeader {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  .nameOfSite {
    margin-left: 30px;
    margin-right: 20px;
  }
  .loadButton {
    margin-left: 0rem !important;
  }
}
