.modalBackDrop {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 40;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #242424;
  padding: 10px;
  border-radius: 8px;
  width: 60%;
  height: 70%;
  overflow-y: auto;
}

.trailer {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalImg {
  width: 50%;
  height: 40%;
  border: none;
  border-radius: 10px;
}
