.movieList {
  width: 65%;
  margin: 10px;
  margin-top: 120px;
  margin-bottom: 0px;
  margin-left: 41rem;
  margin-right: 10px;

  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  padding-bottom: 2px;
  gap: 20px;
  overflow-y: auto;
  background-color: #242424;
}

@media (max-width: 390px) {
  .movieList {
    width: 100vw;
    margin-top: 250px;
    margin-left: 25px;
  }
}
