.outer {
  width: 35%;
  position: fixed;
  margin-top: 9rem;
  margin-left: 15px;
  height: 75vh;
  background-color: #282c34;
  overflow-y: auto;
  color: white;
  border-radius: 10px;
}
ol {
  margin-top: 80px;
}
li {
  margin-bottom: 10px;
  width: 70%;
}

.watchedMovies {
  margin-top: 150px;
}

@media screen and (max-width: 390px) {
  .outer {
    display: none;
  }
}
