.sideBar {
  width: 35%;
  position: fixed;
  margin-top: 9rem;
  margin-left: 15px;
  height: 75vh;
  background-color: #282c34;
  overflow-y: auto;
  color: white;
  border-radius: 10px;
}

@media screen and (max-width: 820px) {
  .sideBar {
    margin-top: 270px;
    height: 50rem;
  }
}

@media screen and (max-width: 390px) {
  .sideBar {
    width: 19%;
    margin-top: 260px;
    margin-left: 10px;
  }
}
