.App {
  text-align: center;
}
main {
  width: 100%;
}

.bodyPart {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.rightPart {
  margin-right: 40px;
}

.nameOfSite {
  margin-left: 150px;
}

.loadButton {
  margin-top: 0;
  margin-left: 40rem;
}

.App-header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 30;
  margin: 0;
  padding: 1rem;
  background-color: #282c34;
  z-index: 10;
}

@media (max-width: 600px) {
  .movie-card {
    width: 100%;
    background-color: #282c34;
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar form {
    flex-direction: column;
  }
}

.App-footer {
  background-color: #282c34;
  padding: 20px;
  color: white;
}
