.App {
  text-align: center;
}
main {
  width: 100%;
}

.bodyPart {
  display: flex;
  flex-direction: row;
}

.rightPart {
  margin-right: 40px;
}

.nameOfSite {
  margin-left: 150px;
}

.loadButton {
  margin-left: 40rem;
}


.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  padding: 20px;
  justify-content: space-between;
  z-index: 10;
  position: fixed;
  width: 100%;
}

@media (max-width: 600px) {
  .movie-card {
    width: 100%;
    background-color: #282c34;
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar form {
    flex-direction: column;
  }
}

.App-footer {
  background-color: #282c34;
  padding: 20px;
  color: white;
}



