
.imageTag {
    width: 100%;
    height: 80%;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
.movie-card {
  width: 20rem;
  height: 34rem;
  border: none;
  border-radius: 10px;
  background-color: black
  
  
}

p {
  color: white;
}