
.imageTag {
    width: 100%;
    height: 80%;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
.movie-card {
  transition: transform 0.3s ease;
  margin-bottom: 30px;
  width: 20rem;
  height: 34rem;
  border: none;
  border-radius: 10px;
  background-color: black

}

.movie-card:hover {
  transform: translateY(10px);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,2);
}

p {
  color: white;
}