.outer {
  width: 35%;
  position: fixed;
  margin-top: 9rem;
  margin-left: 15px;
  height: 75vh;
  background-color: #282c34;
  overflow-y: auto;
  color: white;
  border-radius: 10px;
}

li {
  margin-bottom: 10px;
}

.watchedMovies {
  margin-top: 150px;
}
